* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  margin: 30px;
}

.board {
  margin: 20px 0;
  border: 1px solid black;
  border-right: none;
  border-bottom: none;
  cursor: default;
  display: inline-block;
}

input {
  display: block;
}

.cell {
  display: inline-block;
  border: 1px solid black;
  border-top: none;
  border-left: none;
  width: 25px;
  height: 25px;
  text-align: center;
  font-size: 13px;
  line-height: 25px;
  vertical-align: top;
}

.revealed {
  width: 100%;
  height: 100%;
}

.hidden {
  width: 100%;
  height: 100%;
  background-color: lightblue;
  cursor: pointer;
}

.flagged {
  background-image: url(/images/flag.png);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 15px 18px;
}

.correct {
  background-color: lightgreen;
}

.bomb {
  background-image: url(/images/bomb.png);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 19px 18px;
}

.gameOver {
  margin-bottom: 20px;
}
